<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <nav>
            <a href="/" class="text-white mx-2">Accueil</a>
            <a href="/projets" class="text-white mx-2">Projets</a>
            <a href="/a-propos" class="text-white mx-2">À propos</a>
            <a href="/contact" class="text-white mx-2">Contact</a>
        </nav>
        <p>Contact: <a href="mailto:boubix.diy@gmail.com" class="text-white">boubix.diy@gmail.com</a></p>
        <div>
            <a href="https://www.tiktok.com/@boubixdiy" class="text-white fab fa-tiktok"></a>
            <a href="https://github.com/Boubix88" class="text-white fab fa-github"></a>
        </div>
        <form class="mt-3">
            <input type="email" class="form-control" placeholder="Abonnez-vous à ma newsletter">
        </form>
    </div>
</footer>