<!-- Header -->
<header class="py-3 shadow-sm header">
    <div class="container d-flex justify-content-between align-items-center">
        <img class="logo" src="/images/assets/logo_boubix_diy.jpg"></img>
        <nav class="d-none d-md-flex">
            <a href="/" class="nav-link px-3">Accueil</a>
            <a href="/projets" class="nav-link px-3">Projets</a>
            <a href="/a-propos" class="nav-link px-3">À propos</a>
            <a href="/contact" class="nav-link px-3">Contact</a>
        </nav>
        <div>
            <a href="https://www.tiktok.com/@boubixdiy" class="nav-link fab fa-tiktok"></a>
            <a href="https://github.com/Boubix88" class="nav-link fab fa-github"></a>
        </div>
    </div>
</header>